body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.dropdown-container {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#position-dropdown {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFA62F;
  border-radius: 5px;
  background-color: #FFF;
  color: #333;
  cursor: pointer;
}

.splide {
  width: 100%;
  max-width: 100%;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.splide__slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.slide-content {
  position: absolute;
  border-radius: 10px;
  background-color: none;
}

.slide-content h2 {
  background-color: rgba(130, 120, 120, 0.505);
  padding: 6px 18px;
  backdrop-filter: blur(4px);
  font-size: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  display: inline-block;
  max-width: 90%;
  text-align: center;
}

.slide-content a {
  background-color: white;
  border-radius: 18px;
  color: black;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-center {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.center-left {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-right {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.top-left {
  top: 10px;
  left: 10px;
}

.top-center {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.top-right {
  top: 10px;
  right: 10px;
}

.slide-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #FFA62F;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

/* Navigation arrows */
.splide__arrow {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.splide__arrow--prev {
  left: 10px;
}

.splide__arrow--next {
  right: 10px;
}

/* Pagination dots */
.splide__pagination__page {
  background: transparent;
  width: 10px;
  border: 2px white solid;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
}

.splide__pagination__page.is-active {
  width: 20px;
  margin-bottom: 9px;
  border-radius: 5px;
  height: 5px;
  background-color: #f41d1d;
  background: white;
}

.splide {
  position: relative;
}

.splide__arrows.custom-arrows {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 35%;
  z-index: 1;
}

.splide__arrows.custom-arrows .splide__arrow {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.splide__arrows.custom-arrows .splide__arrow:hover {
  font-size: 20px;
}

.splide__arrow--prev i,
.splide__arrow--next i {
  font-family: "FontAwesome";
}

/* Ensure the arrows are displayed correctly */
.splide__arrow--prev i {
  content: "\f104";
}

.splide__arrow--next i {
  content: "\f105";
}

/* Tablet and above */
@media (min-width: 768px) {
  .splide {
    width: 80%;
    max-width: 1200px;
  }

  .splide__slide {
    height: 600px;
  }

  .splide__arrow {
    width: 20px;
    height: 40px;
  }
  
}

/* Desktop and above */
@media (min-width: 1024px) {
  .splide__arrows.custom-arrows {
    width: 15%;
  }
  .splide__arrows.custom-arrows {
    width: 15%;
  }
}
